<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <title>Список чеков</title>
  </head>
  <body>
      <div class="container">
        <form>
        <div class="row mb-3 mt-3">
          <div class="col-sm">
            <select name="api_key" class="custom-select" onchange='this.form.submit()'>
              <option value=''>Точка - Принтер</option>
              {% for printer in printers %}
                <option value="{{ printer.api_key }}" {% if printer.api_key == selected.api_key %}selected{% endif %}>{{ printer.point_id }} - {{ printer.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-sm">
            <select name="check_type" class="custom-select mb-3" onchange='this.form.submit()'>
              <option value="">Тип</option>
              {% for check_type in check_types %}
                <option value="{{ check_type }}" {% if check_type == selected.check_type %}selected{% endif %}>{{ check_type }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-sm">
            <select name="status" class="custom-select mb-3" onchange='this.form.submit()'>
              <option value="">Статус</option>
              {% for status in statuses %}
                <option value="{{ status }}" {% if status == selected.status %}selected{% endif %}>{{ status }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        </form>
        {% for check in checks %}
        <div class="row mb-3">
          <div class="col-sm"><a href="/checks/check?api_key={{ check.printer_id.api_key }}&order_id={{ check.order.id }}&format=html" target="_blank">order id: {{ check.order.id }} price: {{ check.order.price }}</a></div>
          <div class="col-sm">{{ check.type }}</div>
          <div class="col-sm">{{ check.status }}</div>
        </div>
        {% endfor %}
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
